html 
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Laboratorio de Analisis
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css")
        include includes/linkStyles.pug
        include includes/linksDataTable.pug
        link(rel="stylesheet" href="../styles/style.css")
    body 
        include includes/nav.pug
        .container.cardbg-lightmb-12
            form#form_ordenes
                .p-3.pb-0.col-12

                    h4.text-left Buscar paciente:
                    #search.mb-3 
                        label.form-label(for='pacienteID') Paciente:
                        #divPacienteError
                        input.form-control#pacienteID(type='text' aria-describedby='pacienteHelp')
                        .form-text#pacienteHelp ingresar dni, apellido o mail del paciente
                        button(type='button').btn.btn-secondary.m-1#buscarPaciente Buscar
        
        .col.mb-3.p-3.bg-light
            table#table_patients.table.table-striped.table-secondary.table-bordered(style='width:100%')
                thead 
                    tr 
                        th
                        th Nombre y apellido
                        th Dni
                        th Sexo
                        th Fecha de nac.
                        th Provincia y localidad
                        th Domicilio
                        th Nro.Telefono
                        th Email
                        th Obra social
                        th Nro. Afiliado
                        th Accion
                tbody

    .row.p-3.m-4.bg-secondary-subtle
 
            //- - if (pacientes && pacientes.length)
            //-             each paciente in pacientes
            //-                 p= `${paciente.idPaciente} - ${paciente.nombre} - ${paciente.apellido}- ${paciente.dni}- ${paciente.email}`
            //-                 span(class="borrarPaciente material-symbols-outlined" id=paciente.idPaciente) delete                          
script(src='../js/buscarPaciente.js')
