doctype html
html(lang='es')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Detalles de la Orden
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@10")
  body
    .container
      h2.text-center.m-3 Detalles de la Orden #{orden.nroOrden}

      h3 Detalles del Paciente
      p
        strong Nombre:
        | #{orden.nombrePaciente} #{orden.apellidoPaciente}
      p
        strong Sexo:
        | #{orden.sexo}
        input(type='hidden', id='sexo', value=orden.sexo)  
      p
        strong Edad:
        | #{orden.edad}
        input(type='hidden', id='edad', value=orden.edad)  
      p
        strong Fecha de Creación:
        span.fecha-orden #{orden.fechaCreacion}
      p
        strong Estado:
        | #{orden.estado}
        p Estado actual: #{orden.estado}

      h3 Exámenes a Analizar
      table.table.table-striped.table-hover
        thead
          tr
            th Código del Examen
            th Nombre del Examen
            th Requerimiento
            th Horas de Demora
            th Tipo de Análisis
            th Acción
        tbody
          each examen in orden.examenes
            tr
              td= examen.idExamen
              td= examen.nombre
              td= examen.requerimiento
              td= examen.horaDemora
              td= examen.tipoAnalisis
              td
                if examen.estadoMuestra === 0
                  button.btn.btn-success.btn-ver(type="button", data-toggle="modal", data-target="#modalVerResultado", data-id=examen.idExamen, data-muestra=examen.idMuestra) Ver Resultados
                else
                  button.btn.btn-primary.btn-cargar(type="button", data-toggle="modal", data-target="#modalCargaResultado", data-id=examen.idExamen, data-muestra=examen.idMuestra) Cargar Resultado
    
    .modal.fade(id='modalCargaResultado', tabindex='-1', role='dialog', aria-labelledby='modalCargaResultadoLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title#modalCargaResultadoLabel Cargar Resultados
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            form#formCargaResultado
                input(type='hidden', id='idExamenModal', name='idExamen')
                input(type='hidden', id='idMuestraModal', name='idMuestra')
                input(type='hidden', id='nroOrdenModal', name='nroOrden', value=orden.nroOrden)
                table.table.table-bordered
                    thead
                        tr
                            th Determinante
                            th Unidad de Medida
                            th Valor
                            th Valor Mínimo
                            th Valor Máximo
                    tbody#determinantesTabla
                      //- Aquí se llenarán dinámicamente las filas de determinantes

          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
            button.btn.btn-primary(type='button', id='btnGuardarResultados') Guardar Resultados

    // Modal para ver resultados
    .modal.fade(id='modalVerResultado', tabindex='-1', role='dialog', aria-labelledby='modalVerResultadoLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title#modalVerResultadoLabel Ver Resultados
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            table.table.table-bordered
                thead
                    tr
                        th Determinante
                        th Unidad de Medida
                        th Valor
                        th Valor Mínimo
                        th Valor Máximo
                tbody#verResultados
                  //- Aquí se llenarán dinámicamente las filas de resultados cargados

          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
            if orden.estado.trim() === 'Para Validar'
              button.btn.btn-primary(type='button', id='btnValidarResultados') Validar

    script(src="/js/listaOrdenes.js")
