doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        if state === 'edit'
            title Editando Orden
        else 
            title Creando Orden
    
        include includes/linkStyles.pug
        
        link(rel="stylesheet", href="/styles/ordenesStyle.css")
        script(src="https://code.jquery.com/jquery-3.7.1.min.js" type='text/javascript')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css")
        link(href='https://cdn.datatables.net/v/bs5/dt-1.13.6/b-2.4.2/r-2.5.0/sc-2.2.0/sb-1.6.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.css' rel='stylesheet')
        script(src='https://cdn.datatables.net/v/bs5/dt-1.13.6/b-2.4.2/r-2.5.0/sc-2.2.0/sb-1.6.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.js')
        
    body 
        include includes/nav.pug
        .container-fluid
            #container-label.row-12
            form#form_ordenes.row-12
                .p-3.bg-secondary-subtle.row.m-auto
                    .row.m-auto.pt-4
                        if state === 'edit'
                            .bg-light.p-3.d-flex.rounded
                                if ordenData && ordenData[0] && ordenData[0].nroOrden && ordenData[0].medico && ordenData[0].paciente
                                    .border.border-secondary.rounded.p-3.mx-auto.flex-fill.col-2
                                        h3 Orden n&deg #{ordenData[0].nroOrden + " " + ordenData[0].estado} 
                                        p Pac. #{ordenData[0].paciente.apellido + ' ' + ordenData[0].paciente.nombre}
                                        p Doc. #{ordenData[0].medico.apellido + ' ' + ordenData[0].medico.nombre}
                                        #acordion.accordion.mx-0.mx-md-5.px-0.px-md-5
                                            .accordion-item
                                                h2.accordion-header 
                                                    button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseDiagno' aria-expanded='true' aria-controls='collapseDiagno' disabled=ordenData[0].diagnosticos.length<=0).accordion-button.py-2
                                                        |Diagnosticos
                                                #collapseDiagno.accordion-collapse.collapse.show(data-bs-parent='#acordion')
                                                    .accordion-body.p-3.pb-0
                                                        if ordenData[0].diagnosticos.length>0
                                                            table.table.table-sm.table-striped.table-hover.table-bordered
                                                                thead
                                                                    tr  
                                                                        th Diagnostico 
                                                                        th Otros terminos
                                                                tbody
                                                                    each d in ordenData[0].diagnosticos
                                                                        tr
                                                                            td= d.nombre
                                                                            td= d.otrosTerminos
                                            .accordion-item
                                                h2.accordion-header 
                                                    button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseExamenes' aria-expanded='false' aria-controls='collapseExamenes' disabled=ordenData[0].examenes.length<=0).accordion-button.collapsed.py-2
                                                        |Examenes 
                                                #collapseExamenes.accordion-collapse.collapse(data-bs-parent='#acordion')
                                                    .accordion-body.p-3.pb-0
                                                        if ordenData[0].examenes.length>0
                                                            table.table.table-sm.table-striped.table-hover.table-bordered
                                                                thead
                                                                    tr 
                                                                        th Examen
                                                                        th Muestra Req.
                                                                tbody 
                                                                    each e in ordenData[0].examenes
                                                                        tr 
                                                                            td= e.nombre 
                                                                            td= e.tipoAnalisis                                                         
                                else
                                    .bg-danger-subtle.border.border-danger.rounded.p-3.mx-auto
                                        h3.text-danger.text-center ¡Error!
                                        p.text-danger-emphasis.text-center Hubo un error al recuperar la información de la orden!
                    .row.m-auto.pt-4
                        if state === 'edit'
                            h3.text-center Editar orden
                        else 
                            h3.text-center Ingresar nueva Orden
                        nav
                            div(role='tablist').nav.nav-tabs#nav-tab
                                button(data-bs-toggle='tab' data-bs-target='#nav-paciente' type='button' role='tab' aria-controls='nav-paciente' aria-selected='true').nav-link.active#nav-paciente-tab 
                                    |Ingresar paciente
                                    i#i1.bi.bi-circle.ms-2
                                button(data-bs-toggle='tab' data-bs-target='#nav-medico' type='button' role='tab' aria-controls='nav-medico' aria-selected='false').nav-link#nav-medico-tab 
                                    |Ingresar medico
                                    i#i2.bi.bi-circle.ms-2
                                button(data-bs-toggle='tab' data-bs-target='#nav-diagnosticos' type='button' role='tab' aria-controls='nav-diagnosticos' aria-selected='false').nav-link#nav-diagnosticos-tab 
                                    |Ingresar diagnostico
                                    i#i3.bi.bi-circle.ms-2
                                button(data-bs-toggle='tab' data-bs-target='#nav-examenes' type='button' role='tab' aria-controls='nav-examenes' aria-selected='false').nav-link#nav-examenes-tab 
                                    |Ingresar examenes
                                    i#i4.bi.bi-circle.ms-2
                                button(data-bs-toggle='tab' data-bs-target='#nav-muestras' type='button' role='tab' aria-controls='nav-muestras' aria-selected='false').nav-link#nav-muestras-tab.d-none
                                    |Ingresar muestras
                                    i#i5.bi.bi-circle.ms-2
                    
                        .tab-content#nav-tabContent
                            div(id="nav-paciente" role="tabpanel" aria-labelledby="nav-paciente-tab" tabindex="0").tab-pane.fade.show.active
                                .mb-3.p-4.bg-light#divTablaPaciente.rounded-bottom.rounded-end
                                    #search.mb-3.row.input-group.ms-1
                                        .col-12.ps-0
                                            h4 Seleccionar el paciente:
                                            #divPacienteError
                                        label(for='pacienteID').form-label.col-12.col-lg-1.ps-0.mt-1 Paciente:
                                        .col-5.p-0
                                            input.form-control#pacienteID(type='text' aria-describedby='pacienteHelp')
                                            .form-text#pacienteHelp ingresar dni, apellido o mail del paciente, y seleccionar el paciente de la tabla.
                                        .col-2.p-0
                                            button(type='button').btn.btn-warning.m-0#buscarPaciente 
                                                |Buscar
                                                i.bi.bi-search.ms-2

                                    .bg-secondary-subtle.p-3.rounded
                                        table(style='width:100%')#table_patients.table.table-striped.table-light.align-middle
                                            thead 
                                                tr 
                                                    th
                                                    th Nombre y apellido
                                                    th Dni
                                                    th Sexo
                                                    th Fecha de nacimiento
                                                    th Provincia y localidad
                                                    th Domicilio
                                                    th Nro.Telefono
                                                    th Email
                                                    th Obra social
                                                    th Nro. Afiliado
                                            tbody

                            div(id="nav-medico" role="tabpanel" aria-labelledby="nav-medico-tab" tabindex="0").tab-pane.fade
                                .mb-3.p-4.bg-light#divTablaMedicos.rounded
                                    #medicoDiv.mb-3.ms-1.row.input-group
                                        .col-12.ps-0
                                            h4 Seleccionar el medico:
                                            #divMedicoError
                                        label(for='medicoId').form-label.col-12.col-lg-1.mt-1 Medico:
                                        .col-5.p-0
                                            input.form-control#medicoId(type='text' aria-describedby='medicoHelp')
                                            .form-text#medicoHelp ingresar dni, apellido o mail del medico, y seleccionar el medico de la tabla.
                                        .col-2.p-0
                                            button(type='button').btn.btn-warning.m-0#buscarMedico 
                                                |Buscar
                                                i.bi.bi-search.ms-2

                                    .bg-secondary-subtle.p-3.rounded
                                        table(style='width:100%')#table_medics.table.table-striped.table-light.align-middle
                                            thead 
                                                tr 
                                                    th
                                                    th Nombre y apellido
                                                    th matricula
                                                    th email
                                            tbody
                                
                            div(id="nav-diagnosticos" role="tabpanel" aria-labelledby="nav-diagnosticos-tab" tabindex="0").tab-pane.fade
                                .bg-light.mb-3.p-4#divTablasDiagnosticos.rounded
                                    .row.mb-3.ms-1.input-group
                                        .col-12.ps-0
                                            h4 Seleccionar los diagnosticos:
                                            #divDiagnosticosError
                                        label(for='diagnosticoSearch').form-label.col-12.col-lg-1.mt-1 Diagnostico: 
                                        .col-5.p-0
                                            input(type='text' aria-describedby='diagnosticoHelp').form-control#diagnosticoSearch
                                            .form-text#diagnosticoHelp Ingrese el nombre o termino del diagnostico a buscar, y agregue a la lista
                                        .col-2.p-0
                                            button(type='button').btn.btn-warning.m-0#buscarDiagnosticos
                                                |Buscar
                                                i.bi.bi-search.ms-2
                                    .row.mb-3.p-3.rounded
                                        .col-12.col-xl-6.mb-3.p-3.bg-white.rounded
                                            h5.text-center Diagnosticos disponibles
                                            table(style='width:100%')#table_diagnosticos.table.table-striped.table-secondary.table-bordered
                                                thead
                                                    tr
                                                        th
                                                        th Diagnostico
                                                        th otros nombre
                                                        th 
                                                tbody
                                        .col-12.col-xl-6.mb-3.p-3.bg-white.rounded
                                            h5.text-center Diagnosticos de la orden
                                            table(style='width:100%')#table_diagnosticos_agregados.table.table-striped.table-secondary.table-bordered
                                                thead
                                                    tr
                                                        th
                                                        th Diagnostico
                                                        th otros nombre
                                                        th 
                                                tbody

                            div(id="nav-examenes" role="tabpanel" aria-labelledby="nav-examenes-tab" tabindex="0").tab-pane.fade
                                .bg-light.mb-3.p-4#divTablasExamenes.rounded
                                    .row.mb-3.ms-1.input-group
                                        .col-12.ps-0
                                            h4 Ingrese los examenes a realizar
                                            #divExamenesError
                                        label(for='idExamen').form-label.col-12.col-lg-1.mt-1 Examen:
                                        .col-5.p-0
                                            input(type='text' aria-describedby='examenHelp').form-control#idExamen
                                            .form-text#examenHelp ingrese el nombre o ID del examen a buscar, y agregue a la lista
                                        .col-2.p-0
                                            button(type='button').btn.btn-warning.m-0#buscarExamenes
                                                |Buscar
                                                i.bi.bi-search.ms-2
                                    .row.mb-3.p-3.rounded
                                        .col-12.col-xl-6.mb-3.p-3.bg-white.rounded
                                            h5 Examenes disponibles
                                            table(style='width:100%')#table_examenes.table.table-striped.table-secondary.table-bordered.align-middle
                                                thead 
                                                    tr 
                                                        th
                                                        th Nombres:
                                                        th Requerimientos:
                                                        th Tipo de muestra:
                                                        th Hs. demora aprox.:
                                                        th Otros terminos:
                                                        th
                                                tbody
                                        .col-12.col-xl-6.mb-3.p-3.bg-white.rounded
                                            h5 Examenes a realizar para la orden actual:
                                            table(style='width:100%')#table_agregados.table.table-striped.table-warning.table-bordered.align-middle
                                                thead 
                                                    tr 
                                                        th 
                                                        th Nombres:
                                                        th Requerimientos:
                                                        th Tipo de muestra:
                                                        th Hs. demora aprox.:
                                                        th Otros terminos:
                                                        th 
                                                tbody 

                            div(id="nav-muestras" role="tabpanel" aria-labelledby="nav-muestras-tab" tabindex="0").tab-pane.fade
                                .bg-light.mb-3.p-3.rounded-bottom.rounded-end
                                    .row.input-group
                                        .col-12.m-2
                                            h4#titleMuestra Muestras de la orden
                                            #divMuestrasError

                                    .row.mb-3.p-3.rounded
                                        .col-12.col-xl-6.mb-3.p-3.bg-white.rounded
                                            h5 Muestras requeridas
                                            table(style='width:100%')#table_muestras.table.table-striped.table-secondary.table-bordered.align-middle.display.responsive.nowrap
                                                thead 
                                                    tr 
                                                        th 
                                                        th Muestra
                                                        th Presentada
                                                        th idExamenes
                                                        th Acciones
                                                tbody
                        
                        .row.p-4
                            button(type='button' disabled id=state == 'edit'? 'editarOrden':'crearOrden').btn.btn-lg.btn-warning.m-auto.col-12.col-md-3 #{state=='edit'? 'Editar Orden': 'Crear Orden'} 
                        
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js")
        script(type='module' src="/js/ordenes/main.js")
        script. 
            const pageState = '#{state}';
            const oldOrden = !{JSON.stringify(ordenData || {})};
            if (pageState === 'edit'){
                const script = document.createElement('script');
                script.type = 'module';
                script.src = '/js/ordenes/edit.js';
                document.body.appendChild(script);
            } else {
                const script = document.createElement('script');
                script.type = 'module';
                script.src = '/js/ordenes/ordenes.js';
                document.body.appendChild(script); 
            }