html
  include includes/linkStyles.pug
  head
    link(rel="stylesheet", href="../styles/formRegistroPaciente.css")
    include includes/nav.pug
    div#ContainerAll 
      div#ContainerForm 
        h1#titulo REGISTRO DE PACIENTE
        section#contact
          .content#form
            div#contactForm
              form(action='/ProcesandoDatos' method='POST')
                span Nombre
                input(type='text' id='nombre' name='nombre' placeholder='nombre' tabindex='1')
                span Apellido
                input(type='text' id='apellido' name='apellido' placeholder='apellido' tabindex='2')
                span DNI
                input(type='number' id='dni' name='dni' placeholder='dni' tabindex='3' 
                oninput='javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);'
                maxlength="10")
                span Teléfono
                input(type='number' id='telefono' name='telefono' placeholder='teléfono' tabindex='4'
                oninput='javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);'
                maxlength="15")
                span Email
                input(type='text' id='email' name='email' placeholder='email' tabindex='5')
                span Fecha de Nacimiento
                input(type='date' id='fechaNac' name='fechaNac' tabindex='6')
                span Provincia
                select(name="provincia" id='provincia')
                          option(value="") seleccione provincia
                          option(value="Buenos Aires") Buenos Aires
                          option(value="CABA") CABA 
                          option(value="Catamarca") Catamarca
                          option(value="Chaco") Chaco
                          option(value="Chubut") Chubut
                          option(value="Córdoba") Córdoba 
                          option(value="Corrientes") Corrientes
                          option(value="Entre Ríos") Entre Ríos
                          option(value="Formosa") Formosa
                          option(value="Jujuy") Jujuy
                          option(value="La Pampa") La Pampa
                          option(value="La Rioja") La Rioja
                          option(value="Mendoza") Mendoza
                          option(value="Misiones") Misiones
                          option(value="Neuquén") Neuquén
                          option(value="Río Negro") Río Negro
                          option(value="Salta") Salta
                          option(value="San Juan") San Juan
                          option(value="San Luis") San Luis
                          option(value="Santa Cruz") Santa Cruz
                          option(value="Santa Fe") Santa Fe
                          option(value="Santiago del Estero") Santiago del Estero
                          option(value="Tierra del fuego") Tierra del fuego
                          option(value="Tucuman") Tucuman
                span Localidad
                input(type='text' id='localidad' name='localidad' placeholder='localidad' tabindex='8')
                span Domicilio
                input(type='text' id='domicilio' name='domicilio' placeholder='domicilio' tabindex='9')
                span Obra Social
                input(type='text' id='obraSocial' name='obraSocial' placeholder='obra social' tabindex='10')
                span Nro Afiliado
                input(type='number' id='numeroAfiliado' name='numeroAfiliado' placeholder='nro afiliado' tabindex='11'
                oninput='javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);'
                maxlength="12")
                span Sexo
                select(name="sexo" id='sexo')
                          option(value="") seleccione sexo
                          option(value="femenino") femenino
                          option(value="masculino") masculino 
                          option(value="otro") otro
                button.submit Registrar
                - if (pacientes && pacientes.length)
                        each paciente in pacientes
                            p= `${paciente.idPaciente} - ${paciente.nombre} - ${paciente.apellido}`
                            span(class="borrarPaciente material-symbols-outlined" id=paciente.idPaciente) delete         
              
