extends layout.pug 
block content 
    include includes/nav
    .form-order(action="")
        h2.text-center.m-3 Cargar Resultados

        -if (order)
            h6.text-center Orden n°#{order['nro Orden']}
        -else if(estado == 'SinResultadosOError') 
            h6.text-center no se encontro la orden

        .row.my-2 
            .col-4.text-end    
                label.form-label.pt-1(for="orderIn") orden:
            .col
                .input-group
                    input.form-control#orderIn(type="number")
                    button.btn.btn-primary#buscarOrder(type='button') buscar

        -if (datos_paciente)
            for value, key in datos_paciente
                .row.my-2 
                    .col-4.text-end  
                        p.pt-1 #{key}:      
                    .col 
                        p #{value}
    
    form.p-2(action="")
        table.table.table-striped.table-hover.caption-top
            caption lista de examenes de la orden 
            thead
                tr
                    th.table-primary(scope='col') Nombre 
                    th.table-primary(scope='col') Requerimiento
                    th.table-primary(scope='col') Tipo de muestra
                    th.table-primary(scope='col') Hs. demora
                    th.table-primary(scope='col') Posee muestra
                    th.table-primary(scope='col') Resultado
                    th.table-primary(scope='col')
            tbody#tbodyData
                -if (examenes)
                    tr
                        for examen in [examenes[0].nombre,examenes[0].requerimiento, examenes[0].tipoAnalisis, examenes[0].diasDemora]  
                            td=examen
                        td
                            .form-check.form-switch
                                input.form-check-input.checkboxes(type='checkbox' role='switch' id=order['nro Orden']+'_'+examenes[0].idExamenes)
                                label.form-check-label(for=order['nro Orden']+'_'+examenes[0].idExamenes) si
                        td  
                            button(role='button' type='button') asdf
                                  